* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(160, 159, 159, 0.7), rgba(8, 8, 8, 0.7)), url(images/Background.jpg);
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}


.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}

.logo {
    width: 80px;
    cursor: pointer;
    border-radius: 50%;
}

.menu-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a {
    text-decoration: rgb(242, 242, 243);
    background-color: #e0588d;
    color:rgb(246, 250, 6);
    font-size: 15px;
}

nav ul li a:hover {
    color: #ff6600;
    background-color: #f0f0f0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: hsl(320, 88%, 51%);
    text-shadow: 0 0 5px #000;
}

hr {
    height: 10px;
    background-image: linear-gradient(90deg, transparent 10%, #f70909 10%, hsl(54, 89%, 51%) 20%, transparent 20%, transparent 30%, #0a0a0a 30%, #fa05c5 40%, transparent 40%, transparent 50%, #f3efef 50%, #08f7f7 60%, transparent 60%, transparent 70%, #000 70%, #000 80%, transparent 80%, transparent 90%, #000 90%);
    background-size: 30px 20px;
    margin: 20px 0; 
    border: none; 
}

.content {
    margin-top: 40px;
}

.row {
    display: flex;
    margin-bottom: 40px;
}

.col {
    flex: 1;
}

p {
    font-size: 20px;
    line-height: 1.6;
    color:rgb(235, 213, 240);
    text-shadow: 0 0 15px #000;
}

.image-left,
.image-right {
    margin-top: 20px;
}

.image-left img,
.image-right img {
    width:400px;
    height: 400px;
    object-fit: cover; 
    border: solid #e3fc07;
    border-radius: 75%;
    margin-bottom: 40px;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.5s;
}

.image-left {
    float: left;
    margin-right: 20px;
}

.image-right {
    float: right;
    margin-left: 20px;
}

